---
layout: page
title: Posts
background: '/img/bg-post.jpg'
---
<h1><CATEGORIES:</h1>
<hr>
{% for tag in site.categories %}
  <h5 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h5>
  <ul class="post-preview">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}
        </a>
      </li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
